<br>
<br>
<li><a ui-sref="sessions" ui-sref-active="active">View Activites</a></li>
<li ng-if="main.isLoggedIn()"><a ui-sref="searchVideos" ui-sref-active="active">Browse Videos</a></li>

<section>
  <label>Search: <input ng-model="picturesIndex.searchText"></label>
  <ul>
    <li id="searchList" ng-repeat="picture in picturesIndex.all | filter: picturesIndex.filter">
      <img ng-if="!searchText.dirty" id="searchResultPicture" ng-src="{{ picture.source }}"/>
    </li>
  </ul>
</section>

<!-- ng-show="pictures.tag === 'cat'" -->
