
<ul rn-carousel rn-carousel-index="4" rn-carousel-transition="hexagon" class="image carousel" id="smileyCarousel">
  <li>
    <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed-2_zpskftji21c.png')" ng-click="moodCarousel.moodSelect('angry', 1)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed-3_zpsju8gtdop.png')" ng-click="moodCarousel.moodSelect('veryUnhapy', 2)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed-4_zpsdkmu5jaw.png')" ng-click="moodCarousel.moodSelect('unhappy', 3)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed-5_zps5dtutrhk.png')" ng-click="moodCarousel.moodSelect('worried', 4)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed-6_zpspdq7bftn.png')" ng-click="moodCarousel.moodSelect('unsure', 5)"></div>
  </li>
    <li>
      <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed-7_zpseiztmktg.png')" ng-click="moodCarousel.moodSelect('happy', 6)"></div>
    </li>
    <li>
    <div class="layer" style="background-image: url('http://i1159.photobucket.com/albums/p624/sarahpenneyuk/unnamed_zpsnuqddlbs.png')" ng-click="moodCarousel.moodSelect('veryHappy', 7)"></div>
  </li>
</ul>

<img src="/images/twofinger.png" id="finger">
