
<h1 class="button dataHeader">User Data</h1>
Your name:<br>
<p class="savedData">{{ userData.user.username }}</p>
Hopes to gain:<br>
<p class="savedData">{{ userData.user.hopeToGain }}</p>
Your worries:<br>
<p class="savedData">{{ userData.user.worries }}</p>
What makes you happy:<br>
<p class="savedData">{{ userData.user.happiness }}</p>
Interests:<br>
<p class="savedData">{{ userData.user.interests }}</p>
Favourite Animal:<br>
<p class="savedData">{{ userData.user.favouriteAnimal }}</p>
Current saved mood:<br>
<p class="savedData">{{ userData.user.mood[0].mood}}</p>
<!-- <p>{{ userData.user.mood[0].value}}</p> -->
<p class="savedData">{{ userData.user.mood[0].timeStamp | date: 'd MMM yyyy'}}</p>

<!-- <p>{{ userData.user }}</p> -->

<h3 class="button j-button"><a ui-sref="userForm" ui-sref-active="active" id="userEdit" class="userDataButtons">Edit</a></h3>

<br>
<h3 class="button j-button"><a ui-sref="userChart" ui-sref-active="active" class="userDataButtons">User Chart</a></h3>
