
<section ng-controller="ImageSelectController as imageSelect">

<h1> IMAGE SELECT </h1>

<div class="imageChoice" style="background-image: url('{{ imageSelect.setImage1.src }}')" ng-click="imageSelect.imageChoice(1)" ng-click="imageSelect.saveImageData()">{{ imageSelect.setImage1 }}</div>
<br>
<div class="imageChoice" style="background-image: url('{{ imageSelect.setImage2.src }}')" ng-click="imageSelect.imageChoice(2)" ng-click="imageSelect.saveImageData()">{{ imageSelect.setImage2 }}</div>

</section>
