<h1> Mood choice </h1>

<ul rn-carousel rn-carousel-transition="hexagon" class="image carousel">
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/niX/8yd/niX8ydE6T.png')" ng-click="moodSelect(extremelyUnhappy)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/bcy/MAz/bcyMAzgcL.jpeg')" ng-click="moodSelect(unhappy)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/Rid/KA8/RidKA8Ki9.png')" ng-click="moodSelect(worried)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/bcy/Mer/bcyMerxxi.png')" ng-click="moodSelect(confused)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/Kin/jdB/KinjdBpiq.png')" ng-click="moodSelect(unsure)"></div>
  </li>
    <li>
      <div class="layer" style="background-image: url('http://2.bp.blogspot.com/-8J0DvGjmv2k/VQISA-5irKI/AAAAAAAAOaQ/A1DHYV3gVM8/s1600/content-smiley.png')" ng-click="moodSelect(content)"></div>
    </li>
    <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/4Tb/o5r/4Tbo5re8c.png')" ng-click="moodSelect(okay)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/xig/nye/xignyeBgT.png')" ng-click="moodSelect(happy)"></div>
  </li>
  <li>
    <div class="layer" style="background-image: url('http://www.clipartbest.com/cliparts/xTg/K5B/xTgK5BqGc.gif')" ng-click="moodSelect(ecstatic)"></div>
  </li>
</ul>
