<h1>REGISTER</h1>
  <form novalidate ng-submit="register.submit()">

    <div class="row">
      <label>Username</label>
      <input class="u-full-width" type="text" name="username" placeholder="Username" ng-model="register.user.username">
    </div>
    <div class="row">
      <label>Email</label>
      <input class="u-full-width" type="email" name="email" placeholder="Email" ng-model="register.user.email">
    </div>
    <div class="row">
      <label>Password</label>
      <input class="u-full-width" type="password" name="password" placeholder="Password" ng-model="register.user.password">
    </div>
    <div class="row">
      <label>Password Confirmation</label>
      <input class="u-full-width" type="password" name="passwordConfirmation" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
    </div>
    <button>Register</button>
  </form>
