<h1>REGISTER</h1>
      <div id="registerForm">
      <p class="ourUsers">New users...</p><br>
        <form class="register" action="api/register" method="post">
          <label for="username"></label>
          <input type="text" name="username" placeholder="username" value="">
          <label for="email"></label>
          <input type="text" name="email" placeholder="email" value="">
          <label for="password"></label>
          <input type="password" name="password" placeholder="password" value="">
          <label for="passwordConfirmation"></label>
          <input type="password" name="passwordConfirmation" placeholder="password confirmation" value=""><br>
          <input type="submit" name="register" value="Register" class='button'><br><br>
          <p class="powered">Powered by</p><img src="images/nasa.png" id="nasa">
        </form>
      </div>
    </div>
