<h3>USER FORM</h3>

<form novalidate ng-submit="userForm.submit()">
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Gender..." ng-model="userForm.user.gender">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="text" placeholder="Age..." ng-model="userForm.user.age">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="What brings you here?.." ng-model="userForm.user.whatBringsYouHere">
  </div
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="What are your worries?.." ng-model="userForm.user.worries">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="What makes you happy? :)" ng-model="userForm.user.happiness">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="Please tell us your interests.." ng-model="userForm.user.interests">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="What is your favourite animal?" ng-model="userForm.user.favouriteAnimal">
  </div>
  <div class="row">
    <label class="formLabel"></label><br>
    <input class="u-full-width" type="string" placeholder="What do you hope to gain?" ng-model="userForm.user.hopeToGain">
  </div>
  <button class="buttonLog" id="userFormButton">Submit</button>
</form>
