<li ng-if="main.isLoggedIn()"><a ui-sref="search" ui-sref-active="active">Browse Content</a></li>
<li ng-if="main.isLoggedIn()"><a ui-sref="searchVideos" ui-sref-active="active">Browse Videos</a></li>

<section>
  <label>Search: <input ng-model="searchText"></label>
  <ul>
    <li ng-if="!searchText.dirty" ng-repeat="pictures in picturesIndex.all | filter:searchText">
      <img id="searchResultPicture" ng-src="{{ pictures.source }}"/>

    </li>
  </ul>
</section>

<!-- ng-show="pictures.tag === 'cat'" -->
