<!DOCTYPE html>
<html ng-app="moodApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script> -->



  </head>
  <body ng-controller="MainController as main">
    <h1>Project 3</h1>

    <nav>
        <ul>
          <li ng-if="main.isLoggedIn()" ng-controller="UserDataController as userData">Current User is {{userData.user.username}}</li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="moodIndex" ui-sref-active="active">Moodz Index Page</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="moodCarousel" ui-sref-active="active">Mood Carousel</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="imageSelect" ui-sref-active="active">Image Select</a></li>
          <li ng-if="!main.isLoggedIn()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="soundScapeExperience" ui-sref-active="active">soundScapeExperience</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="instrumentExperience" ui-sref-active="active">instrumentExperience</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="breathingExercise" ui-sref-active="active">breathingExercise</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="elizabot" ui-sref-active="active">elizaChatBot</a></li>
          <li ng-if="main.isLoggedIn()"><a ng-click="main.logout()">Logout</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="userForm" ui-sref-active="active">User Form</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="userData" ui-sref-active="active">User Data</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="journals" ui-sref-active="active">Journals Data</a></li>

        </ul>
      </nav>


      <main ui-view></main>




  </body>
</html>
