
@import "mixin";

$brand: #6f9bca;


body {
  background-color: white;
  font-family: 'Pontano Sans', sans-serif;
  text-align: center;
  a {
    text-decoration: none;
    color: #000000;
  }
}

ul {
  padding: 0;
}

main {
  overflow-x: hidden;
}


main {
    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: 2s;

        /* start with opacity 0 (invisible) */
        opacity: 0;
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}
/////////////////////////////////////DROP DOWN HEADER

header {
  .logo {
    font-family: 'Quicksand', sans-serif;
    color: $brand;
    font-weight: 400;
    margin: 20px 0;
  }
  ul {
    height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: $brand;
    &.visible {
      height: 165px;
      margin-bottom: 20px;
    }
    li {
      font-family: 'Quicksand', sans-serif;
      margin-bottom: 5px;
      font-size: 18px;
      &:first-of-type {
        margin-top: 15px;
      }
      &:last-of-type {
        margin-bottom: 15px;
      }
      a {
        color: #FFFFFF;
      }
    }
  }
}



form {
  display: inline-block;
}
////////////////////////////////////////LOG IN PAGE ///////////////////////////////
#logInForm {
  margin-top: 30px;
}
#registerForm {
  input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.buttonLog {
  background-color: $brand;
  color: white;
  border: none;
  height: 28px;
  width: 100px;
  margin-bottom: 40px;
  border-radius: 2px;
}

#userFormButton {
  margin-top: 30px;
  border-radius: 2px;
}

#regButton {
  margin-top: 10px;
  border-radius: 2px;
}
/////////////////////////////////////////////////////

.formLabel{
  color: gray;
  padding-top: 50px;
}


.userDataButtons {
  color: $brand;
  border: none;
  height: 28px;
  width: 100px;
  margin-bottom: 40px;
  border-radius: 2px;


}


.button {
  background-color: rgba(82,111,187,0.5);
  font-family: 'Quicksand', sans-serif;
  padding: 10px 0;
  border-radius: 2px;
  font-size: 14px;
  border-radius: 2px;
  a {
    color: #FFFFFF;
    cursor: pointer;
  }
}

.j-button {
  background-color: rgba(82,81,187,0.5);
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: calc(50% - 1px);
      float: left;
      @extend .button;
      &:first-of-type {
        margin-right: 2px;
      }
    }
  }
}

#settingsLogo {
  width: 30px;
  height: 30px;
  float: right;
}


#imageChoice1 {
margin-top: 50px;
}

.imageChoice {
  width: 250px;
  height: 240px;
  margin-left: 15%;
  margin-top: 10px;
  background-color: lightgrey;
  background-size: 100%;
}

#dropDown {
  z-index: 9999;
  position: fixed;
  width: calc(100% - 20px);
  top: 10px;
  right: 10px;
  h1 {
    margin: 0;
  }
  .slideable {
    background-color: rgba(255, 255, 255, 0.9);
    // margin-left: 150px;
    text-align: right;
    padding-right: 20px;
    font-size: 15px;
    a {
    text-decoration: none;
    }
  }
}


#searchResultPicture {
  max-width: 200px;
  max-height: 120px;
}

#journal {
  height: 80px;
}

#journalTitle {
  border: 1px solid grey;
  border-radius: 5px;
  height: 19px;
  margin: 10px;
}

#journalEntry {
  width: 70%;
  height: 250px;
  border-radius: 5px;
  border: 1px solid grey;
}

.j-header {
  color: $brand;
}

#searchBar {
  border-radius: 5px;
  border: 1px solid grey;
}

.button-post-j {
  background-color: $brand;
  color: white;
  font-size: 10px;
  padding: 7px;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

#instrumentBackground {
  background-color: rgb(75, 201, 229);
  padding: 15px;
  margin: 20px;
  border-radius: 200px;
  box-shadow: 0px 8px 2px #44aadd;
}

#instrumentBoard {
  width: 70%;
  margin: 10 auto;
  padding: 0;
  text-align: center;
  left: 20px;
  border: 1px;
  border-color: red;

}

.instrument-pad {
  // position: inherit;
  background-image: url('/images/trippy-water.gif');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 90px;
  width: 30%;
  // left: 195px;
  left: 22%;
  height: 152px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 4px 2px #44aaee;
}

@media (max-width: 400px) {
  .instrument-pad {
    border-radius: 90px;
    width: 50%;
    // left: 45px;
    left: 22%;
    height: 112px;
  }
}

ul.carousel {
  margin-top: 40%;
  width: 250px;
  margin-left: 50px;
  li {
    width: 100%;
    div {
      width: 100%;
      height: 250px;
      background-position: center;
      background-size: cover;
    }
  }
}

.slideDown {cursor:pointer; }

#finger {
  width: 55px; height: 55px;
  margin-top: 350px;
  margin-right: 5px;
}

button {
  border: 1px solid black;
}

.u-full-width {
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

#searchList {
  @include listStyle(none);
  list-style: none;
}


div.sound-art-holder {
}

img.hero {
    width: 100%;


}

img.sound-art {
  width: 100%;

  margin: 0;
  padding: 0;

  @include positioning(absolute, 200, 'null', 'null', 0);

  opacity: 0;

  &.i1 {
    @include animationSetting(soundArtImage, 80s, infinite);
    z-index: 1;
  }
  &.i2 {
    @include animationSetting(soundArtImage, 80s, infinite);
    animation-delay: 16s;
    z-index: 2;
  }
  &.i3 {
    @include animationSetting(soundArtImage, 80s, infinite);
    animation-delay: 32s;
    z-index: 3;
  }
  &.i4 {
    @include animationSetting(soundArtImage, 80s, infinite);
    animation-delay: 48s;
    z-index: 4;
  }
}

@keyframes soundArtImage {
  0%    { opacity: 0; transition: all 200ms }
  5%   { opacity: 1; transition: all 200ms }
  25%   { opacity: 1; transition: all 200ms }
  30%  { opacity: 0; transition: all 200ms }
}


#wrapper {
	max-width: 100%;
	margin: 50px auto;
}


.dataHeader {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}


#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	// background: #FEFEFE;
	// border: 2px solid #FAFAFA;
	box-shadow: 0 0 2px rgba(82,111,187,0.3);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	// background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
  // border: 1px solid red;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid rgba(82,111,187,0.3);
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px;
	// color: #333;
	margin: 0;
}

// @media (min-width: 200px) {
// 	#columns {
// 		-webkit-column-count: 4;
// 		-moz-column-count: 4;
// 		column-count: 4;
// 	}
// }
//
// @media (min-width: 800px) {
// 	#columns {
// 		-webkit-column-count: 5;
// 		-moz-column-count: 5;
// 		column-count: 5;
// 	}
// }

@media (min-width: 800px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}


.savedData {
  color: $brand;
}

 .line {
   margin: 1%;
   height: 60%;
 }

//////////////////////////////////////////// ELIZA START

form input {
  font-size: 14px;
  text-align: left;
}

#session {
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

#session ul {
  list-style: none;
  padding-left: 40px;
}

#session ul li {
  margin: 0;
  list-style: none;
  text-align: left;
  padding-right: 40px;
}

#session ul li span {
  display: inline-block;
  width: 60px;
  font-weight: bold;
  text-align: left;
}

#session ul li span.eliza {
  color: #b383dc;
  text-align: left;
}

#session ul li span.you {
  color: #4e6dbc;
  text-align: left;
}

.elizaButtons {
  border: 1px solid lightgrey;
  background-color: white;
  margin-left: 20px;
}

.elizaBody {
  background-image: url('https://s-media-cache-ak0.pinimg.com/236x/ee/d5/cb/eed5cb9f88a932f56863a58e1c7b96dc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#resetButton {
  margin-right: 20px;
  }
}



///////////////////////////ELIZA END /////////////////
